body {
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 50vh;
	align-items: center;
	background: url('source.gif');
	display: flex;
	text-align: center;
}
form{
	display: flex;
	flex-direction: column;
	width: 550px;
	height: 350px;
	justify-content: center;
	font-family: monospace;
	font-size: 35px;
	text-align: center;
	columns: white;
	align-items: center;
	background-color: deepskyblue;
	margin-left: 20px;
	border-radius: 10px 
}

button{
	background-color: hotpink;
	border: none;
	color: white;
	width: 200px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 10px;
}
img{
	margin-top: 250px;
	width: 500px;
	height: 300px;
}

input{
	border-radius: 10px;
	width: 200px;
	height: 40px;
	color: white;
}